#!/bin/sh

RUBY="-v $HOME/.gem:$HOME/.gem"
RUBY="${RUBY} -v $HOME/.bundle:$HOME/.bundle"

OSC_SRC="$HOME/source/ood/osc-ood-config"

OSC_CFG="-v $OSC_SRC:$HOME/osc-ood-config"
OSC_CFG="$OSC_CFG -v $OSC_SRC/ondemand.osc.edu/apps:/etc/ood/config/apps"
OSC_CFG="$OSC_CFG -v $OSC_SRC/ondemand.osc.edu/locales:/etc/ood/config/locales"
OSC_CFG="$OSC_CFG -v $HOME/source/ood/osc-clusters:/etc/ood/config/clusters.d"

OOD="-v $HOME/source/ood/ondemand:$HOME/ood/ondemand"

BASH="-v $HOME/.local/etc/ood-container.bashrc:$HOME/.bashrc"

RPM="-v $HOME/rpmbuild:$HOME/rpmbuild"

BIN="-v $HOME/dev-bin:$HOME/bin"

EXTRA_ARGS="$RUBY $OSC_CFG $OOD $BASH $RPM $BIN"
